{% extends "base.html.twig" %}

{% block title %} Espace membre{% endblock %}

{% block contenu %}
<h1>Profil de {{profil.nom}} {{profil.prenom}}</h1>
<p>Adresse email : {{profil.email}}</p>
<p>Date d'inscription : {{profil.dateInscription}}</p>
{% endblock %}