{% extends "base.html.twig" %}

{% block title %} Espace membre{% endblock %}

{% block contenu %}
<h1>Profil de {{ session.prenom }} {{ session.nom }}</h1>
<p>Adresse mail : {{ session.login }}</p>
<p>Date d'inscription : {{ session.dateInscription }}</p>
{% endblock %}